<body>
<%= stylesheet_link_tag "common" %>
<div>
  <% if @events and @events.any? %>
    <%= render "events_list/events_list" %>
  <% else %>
    <%= render "no_data/no_data_list" %>
  <% end %>

</div>
</body>