<body>
<%= stylesheet_link_tag "login" %>
<div>
  <form id="sign-in-form">
    <input class="login-input" type="text" id="name" name="name" placeholder="Name">
    <input class="login-input" type="email" id="email" name="email" placeholder="Email">
    <input class="login-input" type="password" id="password" name="password" placeholder="Password">
    <input class="login-input" type="password" id="password-confirm" name="password-confirm" placeholder="Password (again)">
  </form>

  <a class="button primary sign-in-button"  href="/signup" style="margin-top: 4rem">Sign Up</a><br>
</div>
</body>