<body>
<%= stylesheet_link_tag "common" %>
<%= javascript_include_tag 'landing' %>
<div>
  <h1 class="text-dark" style="margin-top: 10rem;">Group Calendar</h1>
  <h4 class="text-grey">a modern calendar solution</h4>

  <div class="row" style="margin-top: 10rem">
    <div class="col card">
      <header>
        <h4 class="text-primary">Coming Soon</h4>
      </header>
      <p class="text-dark">This project is currently under development.</p>
    </div>
    <div class="col card">
      <header>
        <h4 class="text-primary">Open Source</h4>
      </header>
      <p class="text-dark">You can check the source code <a href="https://github.com/GroupCalendar/group-calendar-server">here</a>.</p>
    </div>
    <div class="col card">
      <header>
        <h4 class="text-primary">Built with Rails</h4>
      </header>
      <p class="text-dark">Group calendar uses rails as its framework.</p>
    </div>
  </div>
</div>
</body>