<body>
<div>


  <div style="margin-top: 10rem; display: flex; flex-direction:row;">
    <div>
      <h1 class="text-dark is-left">Groups:</h1>
    </div>
    <div class="is-right" style="flex: 1 1 0;">
      <a class="button primary outline" href="/groups/new">Create a group</a>
      <a class="button primary" href="/groups/search">Find a group</a>
    </div>
  </div>

  <% if @groups and @groups.any? %>
    <%= render "groups_list/groups_list" %>
  <% end %>

</div>
</body>