<%= form_with class:"nc-form", model: @group do |form| %>
  <h1>Create new groups</h1>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div class="nc-form-input">
    <%= form.text_field :name, required: true, placeholder: "Name" %>
  </div>
  <%= form.submit "Save", class:"nc-form-submit-button" %>
<% end %>