<body>
<%= stylesheet_link_tag "login" %>
<div>
  <form id="sign-in-form">
    <input class="login-input" type="email" id="email" name="email" placeholder="Email">
    <input class="login-input" type="password" id="password" name="password" placeholder="Password">
  </form>

  <a class="button primary sign-in-button" href="/login" style="margin-top: 4rem">Sign In</a><br>

  <div style="margin-top: 2rem;">
    <h5>Don't have an account?</h5>
    <a class="button outline primary sign-in-button"  href="/signup">Create Account</a>
  </div>
</div>
</body>