#sign-in-form {
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: available;
    max-width: 50rem;
    align-content: start;
    margin-top: 10rem
}

.sign-in-button {
    margin-top: 4rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 50rem;
    align-content: start;
}

.login-input {
    margin-top: 2rem;
}